html {
    height: 100%;
}

body {
    background: url('http://i.imgur.com/rjITUjM.png');
    height: 100%;
    font-family: 'Merriweather Sans', sans-serif;
}

.noscroll {
    overflow: hidden;
}

.red {
    color: #ff0000;
}

.button-wrapper a:hover {
    color: #08c;
    text-decoration: none;
}

.contain {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

.float {
    position: fixed;
    top: 70px;
    left: 40%;
}

.container {
    margin: 0 auto;
}

.navbar-push {
    height: 100px;
    width: 100%;
}

.push {
    height: 40px;
}

.nav-items .winter, .nav-items .spring, .nav-items .summer, .nav-items .fall {
    line-height: 60px;
    margin-right: 10px;
    font-weight: bold;
}

.nav-items a {
    color: #fff;
}

.nav-items a:hover {
    color: #fff;
}

.overlay {
    background: rgba(230, 230, 230, 0.9);
    width: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    overflow-x: auto;
    overflow-y: scroll;
}

.overlay:hover {
    cursor: -webkit-zoom-out;
}
 
.overlay .macro {
    margin: 20px auto;
    padding: 10px 20px;
    width: 600px;
    background: #fff;
    color: #8c7e7e;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 8px rgba(34,25,25,0.4);
    -webkit-transition: all 1s ease-out;
}

.overlay .macro strong {
    text-transform: capitalize;
}

.overlay .macro p:first-of-type {
    margin-top: 25px;
}

.overlay .macro .button-wrapper {
    margin-top: 10px;
}

.overlay .macro .button-wrapper i:first-child {
    margin-right: 15px;
}

.overlay .macro:hover {
    cursor: auto;
}

footer {
    height: 40px;
    background: #1b1b1b;
    line-height: 40px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
}

/* Navigation Items */

.nav-items {
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

.nav-items h3 {
    float: left;
}

.nav-items .moonphase {
    float: right;
    margin-top: 20px;
}

.nav-items .view-state {
    display: inline-block;
    width: 100px;
    position: relative;
    top: 24px;
}

.nav-items .view-state .active {
    border: 1px solid;
}

i {
    font-size: 20px;
}

a.selected:hover {
    text-decoration: none;
}

a.selected.winter {
    color: #08c;
}

a.selected.spring {
    color: #5eb95e;
}

a.selected.summer {
    color: #dd514c;
}

a.selected.fall {
    color: #faa732;
}

.season h1 {
    margin-bottom: 45px;
}

.season .alert {
    margin-top: 45px;
    padding: 8px 14px 8px 14px;
    background: #1b1b1b;
    border: none;
}

.season .alert h4 {
    margin-left: 10px;
    color: #fff;
}
