{% extends "base.html" %}
{% block css %}
    <link type="text/css" href="{{ url_for('static', filename='css/listings.css') }}" rel="stylesheet">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>
    <script type="text/javascript" src="http://swfobject.googlecode.com/svn/tags/rc3/swfobject/src/swfobject.js"></script>
    <script type="text/javascript">
        function onYouTubePlayerReady(playerId) {
            var player = document.getElementById('promo-vid');
            player.playVideo();
            player.addEventListener("onStateChange", function(new_state) {
                if(new_state == 0) {
                    console.log('ended');
                }
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            var container = $('.tile');
            container.imagesLoaded(function() {
                container.masonry({
                    itemSelector : '.item',
                    columnWidth: 234
                });
            });

            $('.item img, .item span:nth-of-type(1)').click(function() {
                var data = "";
                var anime = $(this).parent();
                $.each(anime.data(), function(key, val) {
                    if(key == "title" || key == "picture" || key == "promo" || val == "") {
                        return true;
                    }
                    data += "<p><strong>" + key + ":</strong> " + val + "</p>";
                });
                var overlay = "<div class='overlay'><div class='macro'><h3>" + anime.data('title') + "</h3><div id='media-container'><img src='/media/imgs/" + anime.data('picture') + "'/></div><div class='button-wrapper'><i class='icon-picture picture red' data-picture='" + anime.data('picture') + "'></i>" + ((anime.data('promo') != "") ? "<i class='icon-film video' data-promo='" + anime.data('promo') + "'></i>" : "") + "</div>" + data + "</div></div>";
                $('.container').append(overlay);
                $('body').addClass('noscroll');
            });

            $('.container').on('click', '.overlay', function() {
                $(this).remove();
                $('body').removeClass('noscroll');
            });

            $('.container').on('click', '.macro', function(e) {
                e.stopPropagation();
            });

            $('.container').on('click', '.button-wrapper i', function() {
                if($(this).hasClass('video')) {
                    if(('.macro object').length > 0) {
                        var vid_id = $(this).data('promo');
                        var params = { allowScriptAccess: "always" };
                        var atts = { id: "promo-vid" };
                        swfobject.embedSWF("http://www.youtube.com/v/" + vid_id + "?enablejsapi=1&playerapiid=ytplayer&version=3", "media-container", "428", "240", "8", null, null, params, atts);
                    } else {
                        return false;
                    }
                } else if($(this).hasClass('picture')) {
                    if(('.macro object').length > 0) {
                        $('.macro object').replaceWith("<div id='media-container'><img src='/media/imgs/" + $(this).data('picture') + "' /></div>");
                    }
                }

                $('.button-wrapper .red').removeClass('red');
                $(this).addClass('red');
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="tile masonry">
        {% for a in anime %}
        <div class="item" data-title="{{ a['title'] }}" data-genre="{{ a['genre'] }}" data-start="{{ a['start'] }}" data-time="{{ a['time'] }}" data-station="{{ a['station'] }}" data-promo="{{ a['promo'] }}" data-website="{{ a['website'] }}" data-description="{{ a['description'] }}" data-picture="{{ a['picture'] }}">
            <img src="/media/imgs/{{ a['picture'] }}" />
            <span class="title">{{ a['title'] }}</span>
            <span class="summary">{{ a['description']|truncate(100) }}</span>
            <span class="genre">{{ a['genre'] }}</span>
        </div>
        {% endfor %}
    </div>
{% endblock %}
