{% extends "base.html" %}
{% block css %}
    <link type="text/css" href="{{ url_for('static', filename='css/listings.css') }}" rel="stylesheet">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>
    <script type="text/javascript" src="http://swfobject.googlecode.com/svn/tags/rc3/swfobject/src/swfobject.js"></script>
    <script type="text/javascript">
        function onYouTubePlayerReady(playerId) {
            var player = document.getElementById('promo-vid');
            player.playVideo();
            player.addEventListener("onStateChange", function(new_state) {
                if(new_state == 0) {
                    console.log('ended');
                }
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            var d = new Date();
            var initial_season;

            switch(d.getMonth()) {
            case 0:
            case 1:
            case 2:
            initial_season = 'spring';
            break;
            case 3:
            case 4:
            case 5:
            initial_season = 'summer';
            break;
            case 6:
            case 7:
            case 8:
            initial_season = 'fall';
            break;
            case 9:
            case 10:
            case 11:
            initial_season = 'winter';
            break;
            }

            // TODO: refactor switching logic.
            $('#' + initial_season).fadeIn(1500);
            $('.' + initial_season).addClass('selected');
            var container = $('#' + initial_season + ' .tile');
            container.imagesLoaded(function() {
                container.masonry({
                    itemSelector : '.item',
                    columnWidth: 234
                });
            });

            var prev = initial_season;
            $('.winter, .spring, .summer, .fall').click(function(e) {
                e.preventDefault();
                var season = $(this).attr('class');
                console.log();
                if($(this).hasClass('selected')) {
                    return false;
                } else if($('#' + season + ' .tile').length == 0) {
                    $('<div class="alert alert-error float"><b>Sorry!</b> There is currently no anime for that season.</div>').hide().appendTo('body').fadeIn().delay(2000).fadeOut('slow', function() { $(this).remove() });
                } else {
                    $('.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#' + prev).fadeOut();
                    $('#' + season).fadeIn();
                    var container = $('#' + season + ' .tile');
                    container.imagesLoaded(function() {
                        container.masonry({
                            itemSelector : '.item',
                            columnWidth: 234
                        });
                    });
                    prev = season;
                }
            });

            $('.item img, .item span:nth-of-type(1)').click(function() {
                var data = "";
                var anime = $(this).parent();
                $.each(anime.data(), function(key, val) {
                    if(key == "title" || key == "picture" || key == "promo" || val == "") {
                        return true;
                    }

                    data += "<p><strong>" + key + ":</strong> " + val + "</p>";
                });
                var overlay = "<div class='overlay'><div class='macro'><h3>" + anime.data('title') + "</h3><div id='media-container'><img src='/media/imgs/" + anime.data('picture') + "'/></div><div class='button-wrapper'><i class='icon-picture picture red' data-picture='" + anime.data('picture') + "'></i>" + ((anime.data('promo') != "") ? "<i class='icon-film video' data-promo='" + anime.data('promo') + "'></i>" : "") + "</div>" + data + "</div></div>";
                $('.container').append(overlay);
                $('body').addClass('noscroll');
            });

            $('.container').on('click', '.overlay', function() {
                $(this).remove();
                $('body').removeClass('noscroll');
            });

            $('.container').on('click', '.macro', function(e) {
                e.stopPropagation();
            });

            $('.container').on('click', '.button-wrapper i', function() {
                if($(this).hasClass('video')) {
                    if(('.macro object').length > 0) {
                        var vid_id = $(this).data('promo');
                        var params = { allowScriptAccess: "always", allowFullScreen: "true" };
                        var atts = { id: "promo-vid" };
                        swfobject.embedSWF("http://www.youtube.com/v/" + vid_id + "?enablejsapi=1&playerapiid=ytplayer&version=3", "media-container", "600", "338", "8", null, null, params, atts);
                    } else {
                        return false;
                    }
                } else if($(this).hasClass('picture')) {
                    if(('.macro object').length > 0) {
                        $('.macro object').replaceWith("<div id='media-container'><img src='/media/imgs/" + $(this).data('picture') + "' /></div>");
                    }
                }

                $('.button-wrapper .red').removeClass('red');
                $(this).addClass('red');
            });
        });
    </script>
{% endblock %}

{% block nav %}
    <a class="winter" href="#">Winter 2013</a>
    <a class="spring" href="#">Spring 2013</a>
    <a class="summer" href="#">Summer 2013</a>
    <a class="fall" href="#">Fall 2013</a>
{% endblock %}

{% block content %}
    {% for key, season in seasons.iteritems() %}
    <div id="{{ key }}" class="season">
    <h1>{{ key|capitalize }}</h1>
    {% for type in season|groupby('type')|reverse %} 
    <div class="alert"><h4>{{ type.grouper }}</h4></div>
    <div class="tile masonry">
        {% for anime in type.list %}
        <div class="item" data-title="{{ anime['title'] }}" data-genre="{{ anime['genre'] }}" data-start="{{ anime['start'] }}" data-time="{{ anime['time'] }}" data-studio="{{ anime['studio'] }}" data-promo="{{ anime['promo'] }}" data-website="{{ anime['website'] }}" data-description="{{ anime['description']|nl2br }}" data-picture="{{ anime['picture'] }}">
            <img src="/media/imgs/{{ anime['thumb'] }}" />
            <span class="title">{{ anime['title'] }}</span>
            <span class="summary">{{ anime['description']|truncate(100) }}</span>
            <span class="genre">{{ anime['genre'] }}</span>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
