{% extends "base.html" %}
{% block css %}
    <link type="text/css" href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
{% endblock %}
{% block nav %}
    {% if session['logged_in'] %}
        <a href="/logout">Logout</a>
    {% endif %}
{% endblock %}
{% block content %}
    {% if not session.logged_in %}
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <form id="login" action="{{ url_for('admin') }}" method="post">
        <label for="username">Username: </label><input type="text" name="username" />
        <label for="username">Password: </label><input type="password" name="password" />
        <br />
        <input type="submit" name="submit" value="Submit" />
    </form>
    {% else %}
    <a class="add" href="#">Add</a>
    <div id="animelist">
    </div>
    {% endif %}
{% endblock %}
