{% extends "base.html" %}
{% block css %}
    <link type="text/css" href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block controller %}ng-controller="AdminCtrl"{% endblock %}

{% block content %}
  <form ng-submit="add()">
    Picture: <input file="entry.file" type="file" />
    Title: <input ng-model="entry.title" type="text" name="title" />
    Type:
    <select ng-model="entry.type">
      <option value="tv">TV</option>
      <option value="movie">Movie</option>
      <option value="ova">OVA</option>
      <option value="ona">ONA</option>
      <option value="special">Special</option>
      <option value="short">Short</option>
    </select>
    Genre:
    <select multiple ng-model="entry.genre">
      <option value="shounen">Shounen</option>
      <option value="shoujo">Shoujo</option>
      <option value="mecha">Mecha</option>
      <option value="rounin">Rounin</option>
    </select>
    <textarea ng-model="entry.description"></textarea>
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
