{% extends "default.html" %}
{% block navigation %}
  <alert ng-show="$parent.user.logged_in" ng-model="alert" type="alert.type">{[{alert.msg}]}</alert>
{% endblock %}
{% block content %}
  <form ng-hide="user.logged_in" ng-submit="login()">
    Username: <input ng-model="user.name"type="text"><br />
    Password: <input ng-model="user.password"type="password"><br />
    <button class="btn btn-success">Login</button>
  </form>
  <form ng-show="user.logged_in" ng-submit="add()">
    Picture: <input file="entry.file" type="file" />
    Title: <input ng-model="entry.title" type="text" />
    Year: <input ng-model="entry.year" type="text" />
    Trailer: <input ng-model="entry.trailer" type="text" />
    Studio: <input ng-model="entry.studio" type="text" />
    Twitter: <input ng-model="entry.twitter" type="text" />
    Air Date: <input ng-model="entry.airdate" type="text" />
    Website: <input ng-model="entry.website" type="text" />
    Season:
    <select ng-model="entry.season">
      <option value="winter">Winter</option>
      <option value="spring">Spring</option>
      <option value="summer">Summer</option>
      <option value="fall">Fall</option>
    </select>
    Type:
    <select ng-model="entry.type">
      <option value="tv">TV</option>
      <option value="movie">Movie</option>
      <option value="ova">OVA</option>
      <option value="ona">ONA</option>
      <option value="special">Special</option>
      <option value="short">Short</option>
    </select>
    Genre:
    <select multiple ui-select2 ng-model="entry.genre" style="width: 250px;">
    {% for genre in genres %}
      <option value="{{ genre }}">{{ genre }}</option>
    {% endfor %}
    </select>
    <textarea ng-model="entry.description"></textarea>
    <button class="btn btn-success">Add</button>
  </form>
  <form ng-show="user.logged_in" ng-repeat="a in anime">
    <div class="picture-preview" style="background: url('/media/imgs/{[{a.thumbnail}]}') center center; height: 100px; width: 100px;"></div>
    Picture: <input file="a.file" type="file" />
    Title: <input ng-model="a.title" type="text" />
    Year: <input ng-model="a.year" type="text" />
    Trailer: <input ng-model="a.trailer" type="text" />
    Studio: <input ng-model="a.studio" type="text" />
    Twitter: <input ng-model="a.twitter" type="text" />
    Air Date: <input ng-model="a.airdate" type="text" />
    Website: <input ng-model="a.website" type="text" />
    Season:
    <select ng-model="a.season">
      <option value="winter">Winter</option>
      <option value="spring">Spring</option>
      <option value="summer">Summer</option>
      <option value="fall">Fall</option>
    </select>
    Type:
    <select ng-model="a.type">
      <option value="tv">TV</option>
      <option value="movie">Movie</option>
      <option value="ova">OVA</option>
      <option value="ona">ONA</option>
      <option value="special">Special</option>
      <option value="short">Short</option>
    </select>
    Genre:
    <select multiple ui-select2 ng-model="a.genre" style="width: 250px;">
    {% for genre in genres %}
      <option value="{{ genre }}">{{ genre }}</option>
    {% endfor %}
    </select>
    <textarea ng-model="a.description"></textarea>
    <button class="btn btn-success" ng-click="edit(a)">Update</button>
    <button class="btn btn-danger" ng-click="remove(a)">Delete</button>
  </form>
{% endblock %}
