<!doctype html>
<html lang="en" ng-app="aniseasons">
    <head>
        <meta charset="utf-8">
        <title>aniseasons</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link type="text/css" href="{{ url_for('static', filename='css/listings.css') }}" rel="stylesheet">
        <link type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>
        <link type="text/css" href="{{ url_for('static', filename='js/components/select2/select2.css') }}" rel="stylesheet">
    </head>
    <body>
      <div ng-view class="contain">
      </div>
      <footer>
          &copy; aniseasons 2013
      </footer>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/components/select2/select2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/jquery-bridget/jquery.bridget.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/get-style-property/get-style-property.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/get-size/get-size.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/eventEmitter/EventEmitter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/eventie/eventie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/doc-ready/doc-ready.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/matches-selector/matches-selector.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/outlayer/item.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/outlayer/outlayer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/masonry/masonry.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/imagesloaded/imagesloaded.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="{{ url_for('static', filename='js/components/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/angular-masonry/angular-masonry.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/angular-ui-select2/src/select2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/services.js') }}"></script>
    <script src="{{ url_for('static', filename='js/directives.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    {% block js %}{% endblock %}
</html>
